<header class="header">
  <div class="container header__container">
    <div class="header__wrapper">
      <div class="logo-title">Web<span>Studio</span></div>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="icon icon-menu">
          <use xlink:href="../images/sprite.svg#icon-menu"></use>
        </svg>
      </button>

      <ul class="menu">
        <li><a href="#" class="link">Студия</a></li>
        <li><a href="#" class="link">Портфолио</a></li>
        <li><a href="#" class="link">Контакты</a></li>
      </ul>
      <div class="header__contact">
        <a href="#" class="header__contact-link">
          <svg class="icon icon-menu header__contact-icon header__contact-icon--message">
            <use xlink:href="../images/sprite.svg#icon-message"></use>
          </svg>
          info@devstudio.com
        </a>
        <a href="#" class="header__contact-link">
          <svg class="icon icon-menu header__contact-icon header__contact-icon--smartphone">
            <use xlink:href="../images/sprite.svg#icon-smartphone"></use>
          </svg>
          +38 096 111 11 11
        </a>
      </div>
    </div>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <div class="menu-container__top">
        <button class="menu-toggle menu-toggle-close js-close-menu">
          <svg class="icon icon-menu">
            <use xlink:href="../images/sprite.svg#icon-menu-close"></use>
          </svg>
        </button>

        <ul class="mobile-menu">
          <li><a href="#" class="mobile-menu__link">Студия</a></li>
          <li><a href="#" class="mobile-menu__link">Портфолио</a></li>
          <li><a href="#" class="mobile-menu__link">Контакты</a></li>
        </ul>
      </div>
      <div class="header-menu__wrapper">
        <a href="#" class="header-menu__phone">+38 096 111 11 11</a>
        <a href="" class="header-menu__email">info@devstudio.com</a>
        <ul class="header-menu__social-list">
          <li class="header-menu__social-item"><a href="#">Instagram</a></li>
          <li class="header-menu__social-item"><a href="#">Twitter</a></li>
          <li class="header-menu__social-item"><a href="#">Facebook</a></li>
          <li class="header-menu__social-item"><a href="#">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
